    body {
        text-align: center;
        font-family: monospace, Arial;
        font-size: xx-large;
        background-color: #d8d8d8;
    }

    fieldset {
        border: solid 40px;
        border-radius: 100px;
        background-image: url(jonesybpfp.bmp)
    }
    
    h1{
       font-size:xxx-large;
       font-weight:900;
       color:black;
    }
    
    h1{
       font-size:xxx-large;
       font-weight:900;
       color:black;
    }
    

    
    img{
       
    }
    
